body {
  height: 100vh;
  margin: 0;
}

.header-container {
  display: flex;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b2bcc9;
}

.text-container {
  /* background-color: #ffdb00; */
  display: flex;
  flex-direction: column;
}

.books-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

#book-image {
  border-radius: 16px;
  height: 350px;
  margin-bottom: 10px;
}

.text {
  font-family: "Roboto", sans-serif;
}

#title {
  font-size: 50px;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 0;
  background-color: #ffdb00;
  width: 400px;
}

#second-header {
  font-family: "Abril Fatface", cursive;
  font-size: 35px;
  background-color: #ffdb00;
  width: 119px;
}

p {
  font-size: 20px;
  width: 900px;
  line-height: 1.6;
  margin-bottom: 45px;
  font-family: "Roboto", sans-serif;
}

.header-links {
  gap: 100px;
  display: flex;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: flex-start;
  gap: 230px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

#image {
  height: auto;
  width: 570px;
  margin-bottom: 40px;
}

.year-container {
  display: flex;
  gap: 30px;
  align-items: center;
  background-color: #ffdb00;
  width: 440px;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.year-text {
  font-size: 35px;
  font-family: "Abril Fatface", cursive;
  background-color: #ffdb00;
}

#icon {
  font-size: 10px;
  position: fixed;
  bottom: 0;
  margin-left: 10px;
}
