* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#main {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #b2bcc9;
}

.logo {
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
  margin-left: 2%;
}

#menu-icon {
  display: none;
}

nav {
  flex: 1;
  text-align: right;
  margin-left: 2%;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
  border-bottom: 2px solid #ffdb00;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

.row {
  display: flex;
  margin: 40px 0;
  gap: 6%;
}

.col-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  flex-basis: 40%;
  position: relative;
  margin-left: 100px;
}

#title,
#header,
#img-caption {
  font-family: "Abril Fatface", cursive;
  background-color: #ffdb00;
  text-align: center;
}

#img-caption {
  text-align: center;
  font-size: 35px;
  width: 400px;
}

#header {
  font-size: 35px;
  width: 10%;
  margin-bottom: 35px;
  overflow-wrap: break-word;
}

#title {
  font-size: 3.375em;
  width: 37%;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}

.col-2 p {
  font-size: 1.125em;
  line-height: 1.6;
  width: 70%;
  margin-bottom: 30px;
}

.book-covers {
  display: flex;
  align-items: center;
}

.book-cover img {
  width: 75%;
  border-radius: 30px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #b2bcc9;
  padding-top: 10px;
}

.footer a {
  text-decoration: none;
  color: rgb(127, 127, 127);
  border-bottom: 2px solid #ffdb00;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    width: 60%;
  }
}

@media only screen and (max-width: 900px) {
  nav ul {
    position: absolute;
    left: 0;
    top: 13.5vh;
    height: 15vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    transform: translateY(-200%);
    z-index: 2;
    border-top: 1px solid #b2bcc9;
    border-bottom: 1px solid #b2bcc9;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

  nav ul li {
    margin: 0;
  }

  .logo {
    margin: 30px 5%;
  }

  #menu-icon {
    display: block;
    margin: 30px 5%;
    cursor: pointer;
  }

  #image {
    width: 90%;
  }

  #img-caption {
    font-size: 1.5625em;
    width: 280px;
  }

  #title {
    font-size: 1.8em;
    width: 245px;
  }

  .col-1 {
    margin-left: 0;
    align-items: center;
    gap: 15px;
  }

  .col-2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .col-2 p {
    width: 83%;
    font-size: 1em;
    text-align: justify;
    text-justify: none;
    margin-left: 15px;
  }

  #header {
    font-size: 1.7em;
    width: 100px;
  }

  .row {
    flex-direction: column;
    gap: 60px;
  }

  .book-covers {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .book-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .book-cover img {
    width: 55%;
  }

  .text {
    font-size: 0.9em;
  }
}

.nav-active {
  transform: translateY(0%);
}
